# Ignore Logs
*.log

# Ignore Simulink Files
*.autosave
*.slxc
*\.hbs
*\.Xil
*\hdl_prj
*\slprj
*\wavedata

# Ignore Vivado Files
*.jou
*vivado.txt

# Ignore Jupyter
*.ipynb_checkpoints
**/__pycache__

# Ignore ./rfstrath/rfstrath/
**/rfstrath/rfstrath
